body{
    background-image: url("../images/fondoAgregar.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 4em;
    text-align: center;
    display: block;
    margin: 15% 0 0 0;
    border: 2px solid rgb(255 175 60);
    background-color: rgba(255, 255, 255, 0.664);
}

button {
    margin: 1em;
    text-decoration: none;
    background-color: #FFAE00;
    color: white;
    padding: 0.5em 2em;
    border: none;
    border-radius: 6px;
}
input {
    margin-left: 1em;
}
h1 {
    color: #FFAE00;
    margin-bottom: 1.5em;
}