body{
    background-image: url("../images/fondoAgregar.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    margin: 18vh 0 0 0;
    border: 2px solid rgb(255 175 60);
    background-color: rgba(255, 255, 255, 0.336);
    width: 38vw;
    height: 53vh;
}

input {
    margin-left: 1vw;
    border-radius: 2px;
    border-style: none;
}


h1 {
    color: #ffbb28;
    margin-bottom: 1.5em;
}

.boton {
    margin: 1vh;
    text-decoration: none;
    background-color: #FFAE00;
    color: white;
    padding: 0.5vh 2vw;
    border: none;
    border-radius: 6px;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.volver {
    align-self: flex-start;
}

.boton:hover {
    background-color: #d49100;
}