/************************
Css orignal https://codepen.io/jlalovi/details/bIyAr
************************/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}

body {
    background-color: #FFAE00;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1 {
  font-size: 23px;
  margin-left: 1vw;
}

h2 {
  font-size: 17px;
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
  font-size: 15px;
}
  a:hover {
    text-decoration: underline;
  }

h1, h2, p, a, span{
  color: #fff;
}
  .scnd-font-color {
    color: #9099b7;
  }
.titular {
display: block;
line-height: 60px;
margin: 0;
text-align: center;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.horizontal-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
  .horizontal-list li {
    float: left;
  }
    .block {
        margin: 25px 25px 0 0;
        background: #394264;
        border-radius: 5px;
        float: left;
        width: 50%;
        overflow: hidden;
    }

    /********* Lista de cuentas ********/
header {
    display: flex;
    width: 100%;
    height: 20%;
    margin-left: 1em;
}    

article {
    padding: 1em;
    border: 4px solid white;
    font-family: 'Ubuntu';
    margin: 0 5% 0 0;
}
/**** Menu configuracion ****/
#menu {
  display: flex;
}
/* menu */
#menu ul {
  list-style:none;
  margin: 0;
  padding:0;
 }

 
 /* items del menu */
 
 #menu ul li {
  background-color:#2e518b;
 }
 
 /* enlaces del menu */
 
 #menu ul a {
  display:block;
  color:#fff;
  text-decoration:none;
  font-weight:400;
  font-size:1em;
  padding:0.6em;
  font-family:"Ubuntu","HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform:uppercase;
  letter-spacing:1px;
 }
 
 /* items del menu */
 
 #menu ul li {
  position:relative;
  float:left;
  margin:0;
  padding:0;
 }
 
 /* efecto al pasar el ratón por los items del menu */
 
 #menu ul li:hover {
  background:#5b78a7;
 }

 /* menu desplegable */

#menu ul ul {
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#eee;
  padding:0;
 }
 
 /* items del menu desplegable */
 
 #menu ul ul li {
  float:none;
  width:150px
 }
 
 /* enlaces de los items del menu desplegable */
 
 #menu ul ul a {
  line-height:120%;
  padding:10px 15px;
 }
 
 /* items del menu desplegable al pasar el ratón */
 
 #menu ul li:hover > ul {
  display:block;
 }

    /******************************************** LEFT CONTAINER *****************************************/
    section {
        padding: 0 0 0 2em;
        display: flex;
    }
    /* .left-container {} */
      .menu-box {
        height: 360px;
      }

      .donut-chart-block {
        overflow: hidden;
      }
        .donut-chart-block .titular {
          padding: 10px 0;
        }
        .os-percentages li {
            /* 25% ya que son 4 gastos, formula: (100/# de gastos)% */
            width: 25%;
          border-left: 1px solid #394264;
          text-align: center;         
          background: #50597b;
        }
          .os {
            margin: 0;
            padding: 10px 0 5px;
            font-size: 15px;    
          }
            .os.ios {
              border-top: 4px solid #e64c65;
            }
            .os.mac {
              border-top: 4px solid #11a8ab;
            }
            .os.linux {
              border-top: 4px solid #d67900;
            }
            .os.win {
              border-top: 4px solid #4fc4f6;
            }
          .os-percentage {
            margin: 0;
            padding: 0 0 15px 10px;
            font-size: 25px;
          }
      .line-chart-block, .bar-chart-block {
        height: 400px;
      }
        .line-chart {
          height: 200px;
          background: #11a8ab;
        }
        .time-lenght {
          padding-top: 22px;
          padding-left: 38px;
          overflow: hidden;
        }
          .time-lenght-btn {
            display: block;
            width: 70px;
            line-height: 32px;
            background: #50597b;
            border-radius: 5px;
            font-size: 14px;
            text-align: center;
            margin-right: 5px;
            -webkit-transition: background .3s;
            transition: background .3s;
          }
            .time-lenght-btn:hover {
              text-decoration: none;
              background: #e64c65;
            }
        .month-data {
          padding-top: 28px;
        }
          .month-data p {
            display: inline-block;
            margin: 0;
            padding: 0 25px 15px;            
            font-size: 16px;
          }
            .month-data p:last-child {
              padding: 0 25px;
              float: right;
              font-size: 15px;
            }
            .increment {
              color: #e64c65;
            }

/******************************************
↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓
ESTILOS PROPIOS DE LOS GRÄFICOS
↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ 

/******************************************

/******* Resumen de gastos ********/
aside {
  margin: 0 0 0 5vw;
}
.gastos {
    display: grid;
    font-family: 'Ubuntu';
}

.gasto {
    padding: 1em;
    border: 4px solid white;
    margin: 0.4em;
}

.letra {
  font-weight: bolder;
}

#gasolina {
  border-color: #4FC4F6;
}

#servicios {
  border-color: #d67900;
}

#arriendo {
  border-color: #11a8ab;
}

#comida {
  border-color: #E64C65;
}

#ahorro {
  border-color: #ff002b;
}

#efectivo {
  border-color: #4ce666;
}

#credito {
  border-color: #684ce6;
}

#mod{
  font-size: 65%;
}

/* Grafica lineal */
.graficas {
  display: flex;
  width: 98vw;
}
#areaGraf {
  margin: 2% 0 0 1%;
}

/* Boton cerrar sesión */
#salir {
  background-color:#2e518b;
  color:#fff;
  border: none;
  text-decoration:none;
  font-weight:300;
  font-size:1em;
  margin: 1em;
  font-family:"Ubuntu","HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform:uppercase;
  letter-spacing:1px;
}

#salir:hover {
  background:#4c6fa7;
}

#salir  a {
   text-decoration: none;
}