body{
    background-image: url("../logo1.jpg");
    background-size: cover;
}

#contenedor {    
    height: 100vh;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
  }

.login {
    height: 30%;
    width: 35%;
    text-align: center;
    display: block;
    margin: 0 auto;    
    border: 1px solid red;  
}
