body{
    background-image: url("../images/fondoModificar.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e5ff00;
}

nav {
    display: flex;
    align-self: flex-start;
    margin-top: 1%;
}

h1 {
    font-size: 4em;
}

.cuentas {
    display: flex;
    font-family: 'Ubuntu',Verdana, sans-serif;
}

.cuenta {
    padding: 1em;
    border: 4px solid #FFAE00;
    margin: 0.4em;
    font-size: 1em;
}

.cuenta:hover {
    border: 6px dashed #FFAE00;
}

.invisible:hover {
    
    font-size: 1.1em;
    font-weight: 900;
    font-size: 1.2em;
}


a {
    text-decoration: none;
    color: white;
}

.atras {
    margin: 1em;
    text-decoration: none;
    background-color: #FFAE00;
    padding: 0.5em 1em;
    border: none;
    border-radius: 6px;
}

.boton {
    margin: 1em;
    text-decoration: none;
    background-color: #FFAE00;
    padding: 0.5em 1em;
    border: none;
    border-radius: 6px;
    height: 1.5em;
}

.boton:hover {
    background-color: #d49100;
}

.invisible {
        background: transparent;
        border: none;
        width: 100%;
        height: 100%;
        color: #e5ff00;
}